/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import 'primeicons/primeicons.css';
/* styles.css (global) */
html {
  scrollbar-gutter: stable; /* luôn chừa chỗ cho thanh cuộn dọc */
  /* hoặc: scrollbar-gutter: stable both-edges; */
}

/* Toàn bộ Toast */
.p-toast {
  font-size: 0.875rem; /* text-sm (14px) */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
